*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/bg.png');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 20%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}

.row, .row1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto; 
    justify-content: center;
    justify-content: space-between;
}


.col{
    flex-basis: 100%
 
}

h1{
    color: #fff;
    font-size: 100px;
}
@font-face {
    font-family: 'Avatar Last Airbender';
    src: url('font/Avatar\ Airbender.ttf');
}

h1 {
    color: #fff;
    font-size: 100px;
    font-family: 'Avatar Last Airbender', sans-serif;
    font-weight: 100; 
}
@font-face {
    font-family: 'Avatar Last Airbender 1';
    src: url('font/TorukscRegular-z8MA1.ttf');
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
    text-align: justify;
    font-family: 'Avatar Last Airbender 1';
    font-weight: 100;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    /* transition: transform 0.3s; */
    position: relative;
}


.card:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    /* background-image: url('images/aang.gif'); */
}
h5{
    color: #fff;
    text-shadow: 0 0 7px #999;
    font-family: 'Avatar Last Airbender';
    font-weight: 100;
}
.card p{
    color: #ffffff; /* Updated color */
    font-size: 8px;
    font-family: 'Avatar Last Airbender 1';
    text-shadow: 0 0 15px #000;
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
}

